<ion-view title="Sobre">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

      <div class="list card">

          <div class="item item-avatar item-text-wrap">
              <img src="img/icon.png">
              <h2>NetAnimations</h2>
              <p>Um projeto do Departamento de Informática - UEM</p>
          </div>

          <div class="item item-text-wrap">
              <h2>Sobre o aplicativo</h2>
              <p>Esse aplicativo foi desenvolvido com objetivo de disponibilizar animações sobre redes de computadores em dispositivos móveis. Você pode contribuir com sugestões, correções, e ideias para novas animações por meio do e-mail lafmartimiano@uem.br.</p>

              <h3>Luciana Andréia Fondazzi Martimiano - UEM</h3>
              <p>Idealizadora do projeto</p>

              <h3>Jonathan Rodrigues de Oliveira</h3>
              <p>Desenvolvedor do aplicativo</p>

              <p>Ícones do aplicativo por iconfinder.com</p>
          </div>

          <a class="item item-icon-left assertive" href="#">
              <img src="img/uem.png" width="100px">
              <img src="img/din.gif" width="100px">
          </a>

      </div>

  </ion-content>
</ion-view>
