<ion-view title="{{'ANIMATIONS'|translate}}">
  <ion-nav-buttons side="left">
    <button id="animationsmenu" menu-toggle="left" class="button button-icon icon ion-navicon"
      aria-label="menu" aria-flowto="twhs-animation" aria-controls="menuInit" aria-expanded="false"
      tabindex="0" role="button" ng-click="setFocus('menutab','animationsmenu')"> </button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="list">

      <a role="link" id="twhs-animation" aria-flowto="sn-animation" tabindex="0" class="item item-thumbnail-left item-text-wrap" href="#/app/three-way-handshake">
        <img alt="{{'TWHS_ICON'|translate}}" src="img/threeway-handshake/twhs-icon.png">
        <h2 translate>THREEWAY_HANDSHAKE</h2>
        <p translate>THREEWAY_HANDSHAKE_DESC</p>
      </a>

      <a role="link" id="sn-animation" aria-flowto="pa-animation" tabindex="0" class="item item-thumbnail-left item-text-wrap" href="#/app/sequence-number">
        <img alt="{{'SEQUENCE_NUMBER_ICON'|translate}}" src="img/sequence-number/sn-icon.png">
        <h2 translate>SEQUENCE_NUMBER_TITLE</h2>
        <p translate>SEQUENCE_NUMBER_DESC</p>
      </a>

      <a role="link" id="pa-animation" aria-flowto="hm-animation" tabindex="0" class=" item item-thumbnail-left item-text-wrap" href="#/app/pure-aloha">
        <img alt="{{'PURE_ALOHA_ICON'|translate}}" src="img/pure-aloha/pa-icon.png">
        <h2 translate>PURE_ALOHA_TITLE</h2>
        <p translate>PURE_ALOHA_DESC</p>
      </a>

      <a role="link" id="hm-animation" aria-flowto="intraas-animation" tabindex="0" class="item item-thumbnail-left item-text-wrap" href="#/app/hybrid-model">
        <img alt="{{'HYBRID_MODEL_ICON'|translate}}" src="img/hybrid-model/hm-icon.svg">
        <h2 translate>HYBRID_MODEL_TITLE</h2>
        <p translate>HYBRID_MODEL_DESC</p>
      </a>

      <a role="link" id="intras-animation" aria-flowto="interas-animation" tabindex="0" class=" item item-thumbnail-left item-text-wrap" href="#/app/intra-as-routing">
        <img alt="{{'INTRA_AS_ICON'|translate}}" src="img/intra-as-routing/intra-as-icon.svg">
        <h2 translate>INTRA_AS_TITLE</h2>
        <p translate>INTRA_AS_DESC</p>
      </a>

      <a role="link" id="interas-animation" aria-flowto="ethernet-animation" tabindex="0" class="tabanimations item item-thumbnail-left item-text-wrap" href="#/app/inter-as-routing">
        <img alt="{{'INTER_AS_ICON'|translate}}" src="img/inter-as-routing/inter-as-icon.svg">
        <h2 translate>INTER_AS_TITLE</h2>
        <p translate>INTER_AS_DESC</p>
      </a>

      <a role="link" id="ethernet-animation" aria-flowto="animationsmenu" tabindex="0" class="tabanimations item item-thumbnail-left item-text-wrap" href="#/app/ethernet">
        <img alt="{{'ETHERNET_ICON'|translate}}" src="img/ethernet/ethernet-icon.svg">
        <h2 translate>ETHERNET_TITLE</h2>
        <p translate>ETHERNET_DESC</p>
      </a>

    </div>

  </ion-content>
</ion-view>
