<ion-view title="{{'CONFIGS' | translate}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    {{'LANGUAGE' | translate}}
                </div>
                <select ng-model="language" ng-change="changeLanguage(language)">
                    <option value="pt-br">{{'PORTUGUESE' | translate}}</option>
                    <option value="en">{{'ENGLISH' | translate}}</option>
                </select>
            </label>

        </div>

    </ion-content>
</ion-view>