<ion-view title="{{'HYBRID_MODEL_TITLE' | translate}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header bg hm-bg-por">

        <div id="animationFrame" class="animation-frame">
          <div id="accessibility-content" class="white ">
            <a href="" id="content-title"></a>
            <p id="content-text"></p>
            <span id="content-buttons"></span>
          </div>
    			<div id="focus"></div>
    			<div id="message" class="box1 message"></div>
                <div id="segment-1" class="box1 orange"></div>
    			<div id="segment-2" class="box1 green"></div>
    			<div id="segment-3" class="box1 red"></div>
    			<div id="segment-4" class="box1 blue"></div>
        </div>

    </ion-content>
</ion-view>
