<ion-view title="{{'SEQUENCE_NUMBER_TITLE' | translate}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-arrow-return-left" ng-click="restart()" ng-show="end"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div id="animationFrame" class="animation-frame sn-bg">
            <img class="segment-01 ng-hide" src="./img/sequence-number/segment-sn-01.png">
            <img class="segment-02 ng-hide" src="./img/sequence-number/segment-sn-02.png">
        </div>

    </ion-content>
</ion-view>