<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jonathanoliveira.netanimations" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NetAnimations</name>
    <description> Animations from Computer Network classes. Universidade Estadual de Maringá - Paraná - Brazil.</description>
    <author email="contato@jonathanoliveira.com" href="http://jonathanoliveira.com/">
        Jonathan Rodrigues de Oliveira
    </author>
    <icon src="www/img/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>